.vscode/**
.vscode-test/**
src/**
patches/**
docs/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

data/vendor/**
!data/vendor/LICENSE*
!data/vendor/README.md
!data/vendor/languages/**

views/pdf-viewer/vendor/web/*.pdf
views/pdf-viewer/vendor/web/cmaps
views/pdf-viewer/vendor/web/locale
views/pdf-viewer/vendor/web/standard_fonts

views/chat-view/**
!views/chat-view/dist/**
