.vscode/**
.vscode-test/**
src/**
patches/**
docs/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

views/vendor/web/*.pdf
views/vendor/web/cmaps
views/vendor/web/locale
views/vendor/web/standard_fonts

syntax/vendor/**
!syntax/vendor/LICENSE*
!syntax/vendor/README.md
!syntax/vendor/languages/**
