html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#pdf-viewer {
    display: block;
    border: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

#openFile, #print, #download {
    display: none;
}

#secondaryOpenFile,
#secondaryPrint,
#secondaryDownload {
    display: none;
}
